*,
body {
  margin: 0;
  padding: 0;

  /* google font */
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color:palevioletred;
}
.navbar .left {
  display: flex;
  font-size: 35px;
  font-weight: 500;
  color: black;
  padding: 15px;
  margin: 10px;
}

.navbar .right {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 15px;
  margin: 10px;
}
.navbar .right button {
  width: 100%;
  padding: 5px 30px;
  cursor: pointer;
  background-color: black;
  color:white;
  border: 2px solid white;
  transition: 0.5s;
  border-radius: 25px;
}


.navbar .right button:hover{
   background-color: aqua;
  color: black; 

}
/* hero section styles */
.hero-sec {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  background-color: pink;
  align-items: center;
}

.hero-sec .sec-left {
  display: fleX;
  flex-direction: column;
  text-align: left;
  width: 50%;
  margin: 5px;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;

}
.hero-sec .sec-left .heading {
  font-size: 38px;
  color: black;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 45px;
}
.hero-sec .sec-left .detail {
  font-size: 20px;
  text-transform: capitalize;
}
.hero-sec .sec-left .a-tag-btn{
    font-size: 20px;
  padding: 20px 0;
  margin: 20px 0;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 30%;
  border-radius: 20px;
}
.hero-sec .sec-left .a-tag-btn:hover{
  background-color:white;
  color:black;
}


.hero-sec .sec-left .h-btn {
  font-size:20px;
  padding:20px 0;
  margin:20px 0;
  font-weight:bold;
  background-color:black;
  color:white;
  border:none;
  transition:0.5s;
  cursor:pointer;
}

.hero-sec .sec-left .h-btn:hover{
  background-color:white;
  color:black;
}


.hero-sec .sec-right {
  display: flex;
  justify-content: center;
  font-size: 28px;
  /* text-transform: uppercase; */
  font-weight: bold;
  width: 50%;
}

.hero-sec .sec-right .c-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 30px 10px;
  width: 90%;
  background-color: aquamarine;
  border-radius: 20px;
}

.hero-sec .sec-right .c-form h1 {
  font-size: 22px;
  text-align: left;
  padding: 10px 0;
  color: blue;
  font-weight: bold;
}

.hero-sec .sec-right .c-form .input-flelds {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-sec .sec-right .c-form .input-flelds .input-div {
  display: flex;
  flex-direction: column;
}

.hero-sec .sec-right .c-form .input-flelds .input-div label {
  font-size: 14px;
  text-transform: capitalize;
}
.hero-sec .sec-right .c-form .input-flelds .input-div input {
  padding: 4px 0;
  width: 100%;
}
.hero-sec .sec-right .c-form .input-flelds .input-div input::placeholder {
  text-align: start;
}
.hero-sec .sec-right .c-form .input-flelds .input-div input {
  padding: 4px 0;
  width: 100%;
}
.hero-sec .sec-right .c-form .input-flelds .input-div .msg {
  padding: 4px 0;
  width: 100%;
  height: 100px;
}
.hero-sec .sec-right .c-form .input-flelds .input-div button {
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 16px;
}
.hero-sec .sec-right .c-form .input-flelds .input-div button:hover {
  /* padding: 4px 0;
  width: 100%; */
  background-color: blue;
  color: white;
  border: 2px solid blue;
}

/* cards */
.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px;
  gap: 5px;
}
.cards .card {
  display: flex;
  flex-direction: column;
  width: 24%;
  border: 2px solid black;
}

.cards .card h1 {
  font-size: 25px;
  color: blue;
  font-weight: 100;
  text-transform: capitalize;
  margin: 5px;
}
.cards .card p {
  font-size: 12bpx;
  color: black;
  font-weight: 100;
  text-transform: capitalize;
  margin: 5px;
}
.cards .card h2 {
  font-size: 22px;
  color:black;
  font-weight: 100;
  text-transform: capitalize;
  margin: 5px;
}

.cards .card button {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: blue;
  color: white;
  width: 98%;
  cursor: pointer;
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
}

.cards .card button:hover {
  background-color: white;
  color: blue;
}

.card-content {
  margin: 5px;
  text-align: center;
}
*,
body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
/* contact section */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1740560051533-3acef26ace95?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  /* background- */

  color: white;
  padding: 90px 0px;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.container h1 {
  font-size: 25px;
  font-weight: 400;
  color: white;
}
.container p {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.container .sub-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.container .sub-container button {
  padding: 20px 30px;
  cursor: pointer;
  background-color: white;
  color: blue;
  font-size: 16px;
  font-weight: bold;
  border: none;
  transition: 0.5s;
}

.container .sub-container button:hover {
  background-color: black;
  color: white;
}
/* yt section */
.yt-sec{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 30vh; */
  align-items: center;
  gap: 25px;
  background-color: palevioletred ;
  color: azure;
}
.yt-sec .cont{
  width: 50%;
  padding: 25px;
}
.yt-sec .vid{
  width: 50%;
  padding: 25px;
}
.yt-sec .vid .yt-vid{
  width: 100%;
  height: 70vh;
  border: none;
}

/* footer sect */
.footer-sec{
.footer-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  /* font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  font-weight: bold; */
  padding: 20px 0;
  background-color: black;
  color: white;
}
}
.footer-sec .tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 0px;
  background-color: black;
  color: beige;
}

.footer-sec .tabs .section1 {
  display: flex;
  flex-direction: column;
  width: 24%;
  gap: 5px;
  padding: 0 10px;
}

.footer-sec .tabs .section1 h1{
  font-size: 32px;
  font-weight: 400;
}

.footer-sec .tabs .section2 h1{
  font-size: 25px;
  font-weight: 400;
}
.footer-sec .tabs .section2 {
  display: flex;
  flex-direction: column;
  width: 24%;
   gap: 5px;
}
.footer-sec .tabs .section2 .btn-align .p-icon{
   display: flex;
  flex-direction: row; 
  gap: 10px;
}
.footer-sec .tabs .section2 .btn-align .p-icon i{
  font-size: 20px;
  color: whitesmoke;}
.footer-sec .tabs .section2 .btn-align {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .footer-sec .line{

  height: 10px;
  background-color: white;
} */
.footer-sec .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid whitesmoke;
  padding:15px 0;
  background-color: black;
  color: azure;

 
}